/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/02/2016, 03:58:13 PM
    Author     : FGALVIS
*/
.product-caracteristics{
    color: #000;
    font-family: 'Exo 2', sans-serif;
}
.product-caracteristics i{
    color: #263866;
}

.team-member.product-logo .col-md-4.product-cuotes{
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    font-size: x-large;
    text-align: right;
}
.owl-item {
    //border-radius: 10px;
    //background-color: rgba(34,34,34,0.25);
    //border: 7px solid rgba(255,255,255,0.25);
}

.navbar-logo{
    max-height: 50px;
    max-width: 50px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.navbar-logo.navbar-logo-shrink{
    max-height: 35px;
    max-width: 35px;
    -webkit-filter : brightness(2.5);
    -moz-filter: brightness(2.5);
    filter : brightness(2.5);
}

.owl-demo-2 .owl-wrapper-outer .owl-wrapper .owl-item{
    border-radius: 0px;
}

.team-member.product-logo img{
    background-color: rgba(61, 88, 158, 0.3);
}
.product-text{
    font-family: 'Exo 2', sans-serif;
    text-align: justify;
    color: #000;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
}
.product-title{
    font-family: 'Audiowide', cursive;
    font-size: x-large;
}

h2.section-heading {
    font-family: 'Audiowide', cursive;
}
h4.service-heading {
    font-family: 'Exo 2', sans-serif;
}
p.text-muted {
    font-family: 'Exo 2', sans-serif;
}

nav.navbar.navbar-default.navbar-fixed-bottom.navbar-bottom {
    background-color: transparent;
}

.team-member img {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #263866;
    border-color: #1D2B50;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #3D589E;
    border-color: #334C8C;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #263866;
    border-color: #1D2B50;
}

.text-muted {
    color: #444;
}

#owl-demo .item {
  //background: #3fbf79;
  //padding: 30px 0px;
  margin: 10px;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation {
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-xl {
    background-color: #263866;
    border-color: #1D2B50;
    -webkit-box-shadow: -4px 3px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -4px 3px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         -4px 3px 5px 0px rgba(50, 50, 50, 0.5);
}

.full_team {
    background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-image: url("../img/team_full_55_x.png");
    overflow-x: visible;
    overflow-y: visible;
    background-repeat: no-repeat;
}

.full_team_2 {
    background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    overflow-x: visible;
    overflow-y: visible;
    background-repeat: no-repeat;
}

.text-primary {
    color: #263866;
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #3D589E;
    border-color: #334C8C;
}

.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
    background-color: #3D589E;
    border-color: #334C8C;
}

.navbar-default.navbar-shrink {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.5);
}

.navbar-default .nav li a {
    font-family: 'Audiowide', cursive;
    font-size: 12px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    text-shadow: 1px 0px 0px #222;
}

.navbar-default.navbar-shrink .nav li a {
    font-size: 13px;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #3D589E;
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: #4A6BC0;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #3D589E;
}

.headvideo {
    height: 100vh;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    //background-image: url("../img/logo_full.png");
}

.navbar-default .navbar-brand {
    font-family: "Century Gothic";
    font-weight: bold;
    color: #3D589E;
    text-shadow: 2px 0px 2px #222;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: #4A6BC0;
    text-shadow: 2px 0px 2px #999;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #3D589E;
}

.navbar-bottom {
    padding: 0px;
    min-height: 20px;
    background-image: url("../img/footer1.png");
    background-repeat: repeat-x;
    background-position-y: bottom;
}
@-moz-document url-prefix() {.navbar-bottom{
    background-position: 0% 100%;
}}
.img-footer {
    margin-left: auto;
    margin-right: auto;
}
.navbar-default.navbar-bottom.navbar-shrink {
    background-color: transparent;
    padding: 0px;
    position: absolute;
    z-index: 900;
}

.navbar-default.navbar-bottom.navbar-shrink .container .col-md-4 img{
    height: 0px;
    opacity: 0;
}

.navbar-default.navbar-bottom .container .col-md-4 img{
    height: 112px;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

video {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}
.logo {
  width: 10em;
  height: 10em;
  animation: bounceIn 0.6s;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
  cursor: pointer;
  width: 25%;
  height: 25%;
  margin-bottom: 25px;
}

.logo:hover {
  transform: scale(1.1);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(23, 37, 82, .9);
}

.timeline>li .timeline-image {
    background-color: #3D589E;
}

a {
    color: #3D589E;
}

a:hover, a:focus, a:active, a.active {
    color: #4A6BC0;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #4A6BC0;
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(.3);
  } 

  50% {
    opacity: 1;
    transform: scale(1.05);
  } 

  70% {
    opacity: 1;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}